@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);

.img-thumbnail {
	margin: 0 auto;
	width: 200px;
	height: 200px;
}

.img-thumbnail2 {
	margin: 0 auto;
	width: 150px;
	height: 150px;
}

.panel-heading {
	padding: 10px;
}

.body {
	padding: 20px;
}

body {
	background-image: url('2.jpg');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: cover;
	padding-top: 40px;
}

h1 {
	color: white;
	font-family: 'Julius Sans One', sans-serif;
}

h4 {
	color: #ddd;
	font-family: 'Julius Sans One', sans-serif;
}

h3 {
	font-family: 'Julius Sans One', sans-serif;
}

hr {
	border: 1px dotted grey;
}

.modal-content {
	padding: 20px;
	text-align: justify;
}